  <%= form_for @job do |f| %>

    <div class="form-group">
      <%= f.label :title, "Título" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :location, 'Local' %>
      <%= f.text_field :location, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :category_id, 'Categoria' %>
      <%= f.collection_select(:category_id, @categories, :id, :name, { prompt: "Selecione a Categoria" }, { class: "form-control" }) %>
    </div>

    <div class="form-group">
      <%= f.label :company_id, 'Empresa' %>
      <%= f.collection_select(:company_id, @companies, :id, :name, { prompt: "Selecione a Empresa" }, { class: "form-control" }) %>
    </div>

    <div class="form-group">
      <%= f.label :description, 'Descrição' %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.check_box :featured %>
        <%= f.label :featured, 'Destaque' %>
    </div>

    <div class="form-group">
      <%= f.submit submit_text, class: "btn btn-default btn-primary" %>
    </div>

  <% end %>
