<h1>
  <%= @company.name %>
</h1>
<%= @company.location %> <br>
<%= @company.mail %> <br>
<%= @company.phone %> <br>
<%= link_to "Voltar", root_path %>

<% @company.jobs.each do |job| %>
  <div>
    <%= job.title %> <br>
    <%= job.category %> <br>
  </div>
<% end %>
