<h1>
  <%= @company.name %>
  <% if @company.premium? %>
    <%= image_tag "estrela.png" %>
  <% end %>
</h1>


<dl class="dl-horizontal">
  <dt>
    Local:</dt>
  <dd>
    <%= @company.location %>
  </dd>

  <dt>Email:</dt>
  <dd>
    <%= @company.mail %> <br>
  </dd>

  <dt>Telefone:</dt>
  <dd>
    <%= @company.phone %> <br>
  </dd>

  <dd>
    <%= link_to "Voltar", root_path %>
  </dd>
</dl>


<div class="row">
  <div class="col-md-9">
    <section id="jobs">
      <div class="row">
        <% @company.jobs.each do |job| %>
        <div class="col-md-6">
          <div class="job">
            <%= render job %>
          </div>
        </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
