<!DOCTYPE html>
<html>
  <head>

    <title>EmpregoJa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <span class="error">
        <%= notice %>
      </span>

      <header>
        <div class="jumbotron">
          <h1>Emprego Já</h1>
        </div>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
