<!DOCTYPE html>
<html>
  <head>

    <title>EmpregoJa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <span class="error">
        <%= notice %>
      </span>

      <header>
        <div class="jumbotron">
          <h1>Emprego Já</h1>
        </div>
      </header>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
           <div class="navbar-header">
             <%= link_to "Home", root_path, { class: "navbar-brand" } %>
           </div>
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav">
             <%= link_to "Company",  new_company_path,  { class: "navbar-brand" } %>
             <%= link_to "Category", new_category_path, { class: "navbar-brand" } %>
             <%= link_to "Job",      new_job_path,      { class: "navbar-brand" } %>
           </ul>
          </div>
        </div>
      </nav>

      <%= yield %>
    </div>
  </body>
</html>
